.page-container{
    margin: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;

    background-color: rgba(27, 61, 175, 0.849);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-icon {
    color: rgba(255, 255, 255, 0.833);

    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 200;
    white-space: nowrap;

    padding: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;

    padding-left: 1rem;
}

.navbar-item {
    padding: 1rem;
}

.navbar-link {
    color: rgba(255, 255, 255, 0.642);

    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.content-container {
    display: flex;
    flex-direction: column;

    margin: 2rem 4rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer */

.footer-container {
    background-color: rgba(27, 61, 175, 0.849);
    bottom: 0;
    color: white;
    display: flex;
    /*flex-direction: row;*/
    /* flex-direction: column; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    position: fixed;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    justify-content: space-around;
}


.footer-container a {
    text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

/*
    sm: @media (min-width: 640px) { ... }
    md: @media (min-width: 768px) { ... }
    lg: @media (min-width: 1024px) { ... }
*/