:root {
  --darkest-blue: #062844;
  --medium-blue: #064172;
  --darker-blue: #1d77c3;
  --lightest-blue: #42bfdd;
}

.page-container{
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-icon {
    color: rgba(255, 255, 255, 0.833);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 200;
    white-space: nowrap;
    padding: 1rem;
}

/* Footer */


.footer-container {
    background-color: rgba(27, 61, 175, 0.849);
    bottom: 0;
    display: flex;

    flex-direction: row;
    list-style: none;
    padding-left: 1rem;

    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0rem;
    position: fixed;
    /*white-space: nowrap; */
    width: 100%;
    justify-content: space-around;

}

.footer-container  > div {
  color: white;
  width: 33%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;

}
