:root {
/* Palette */
   --darkest-blue: #062844;
   --medium-blue: #064172;
   --darker-blue: #1d77c3;
   --lightest-blue: #42bfdd;
}

.page-container{
    margin: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;

    background-color: rgba(27, 61, 175, 0.849);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-icon {
    color: rgba(255, 255, 255, 0.833);

    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 200;
    white-space: nowrap;

    padding: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;

    padding-left: 1rem;
}

.navbar-item {
    padding: 1rem;
}

.navbar-link {
    color: rgba(255, 255, 255, 0.642);

    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.content-container {
    display: flex;
    flex-direction: column;

    margin: 2rem 4rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Admin Pending sightings */

.sightings-pending-container {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--darker-blue);
    width: 100%;
    padding: 1rem;
}

.sightings-pending-container h1{
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      padding: 1rem;
}

.sightings-pending-admin-form {
    border: 5px solid var(--lightest-blue);
    border-radius: 25px;
    padding: 3rem 1rem;;
    margin: 4rem 1rem 1rem;
}

.sight {
    display: inline-block;
    padding-right: 4rem;
}

.sight span{
    padding: 2rem;
    display: inline-block;
}

.button-submit-sights input[type="submit"]{
    background-color: var(--medium-blue);
    color: var(--darker-blue);
    font-size: 2rem;
    padding: 1rem 3rem;
    border:none;
    border-radius:10px;
    position: relative;
}

.button-submit-sights input[type="submit"]:hover {
  background-color: var(--darkest-blue);
  color: white;
}

/* radio button to validate sight */
.checkboxgroup input[type="radio"]{
    height:20px;
    width:20px;
    margin-top: 30px;
}

.checkboxgroup {
   display: inline-block;
   text-align: center;
   padding: 1rem;
 }
.checkboxgroup label {
 display: block;
}

@media screen and (max-width: 768px) {
    .checkboxgroup input[type="radio"]{ height:15px; width:15px; margin-top: 10px;}
    .sightings-pending-container h1 {font-size: 1.5rem; font-weight:600;}
    .sightings-pending-container {font-size:1rem;}
    .sightings-pending-admin-form {padding:2rem;}
    .sight {padding-right: 0px;}
    .button-submit-sights input[type="submit"] {font-size: 1rem; padding: 1rem;}
    .flex-container-for-submit {justify-content: center;}
}

.flex-container-for-submit {
    display: flex;
    justify-content: right;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
*/



/* Footer */

footer {
    background-color: rgba(27, 61, 175, 0.849);
    height: 4%;
    margin-top: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 1rem;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
}

.footer-container  > div {
  color: white;
  width: 30%;
  height: 60%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 640px) {
  	.footer-container  > div {font-size:0.7rem;}
} 	
  	
.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}
