:root {
  --darkest-blue: #062844;
  --medium-blue: #064172;
  --darker-blue: #1d77c3;
  --lightest-blue: #42bfdd;
}

.page-container{
    margin: 0;
}

.button {
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 175px;
}

.content-container {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.navbar-icon {
    color: rgba(255, 255, 255, 0.833);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 200;
    white-space: nowrap;
    padding: 1rem;
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
}

.footer-container  > div {
  color: white;
  width: 30%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}


.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}


@media (max-width: 640px) {
  	.footer-container  > div {font-size:0.7rem;}
}


/* Register form css */

.register-form {
    display: flex;
    justify-content:center;
    font-size: 30px;

}

.register-heading {
    text-align: center;
    margin-top: 4rem;
    font-size: 40px;
}

.register-inputs {
    width:75%;
    display: flex;
    flex-direction:column;
    margin-bottom:1rem;
}

.input-container {
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.register-textfields {
    height:2rem;
}

