body {
  background-color: var(--lightest-blue);
}

p {
  font-size: 1em;
}

h2 {
  font-size: 2em;
}
h1 {
  font-size: 2em;
}

.button {
  background-color: var(--daeker-blue);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85%;
  gap: min(2px, 1%);
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #007bff;
}

.button:hover {
  cursor: pointer;
  background-color: lightslategray;
}

.sighting-button {
  text-decoration: none;
  color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-item-2-img {
  width: 100%;
  height: auto;
}

.grid-item-4-img {
  width: 100%;
  height: auto;
}

.grid-item-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #d8e9f7;
  text-align: center;
}

.grid-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #d8e9f7;
  text-align: center;
}

.grid-item-3 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: #d8e9f7;
  text-align: center;
}

.grid-item-4 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background-color: #d8e9f7;
  text-align: center;
}

@media (max-width: 640px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .grid-item-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        background-color: #d8e9f7;
        text-align: center;
        
      }
      
      .grid-item-2 {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        background-color: #d8e9f7;
        text-align: center;
    
      }
      
      .grid-item-3 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        background-color: #d8e9f7;
        text-align: center;
       
      }
      
      .grid-item-4 {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        background-color: #d8e9f7;
        text-align: center;
       
      }
}

