@media (min-width: 640px) {
        .label-container {font-size: 24px;}
        .input-field {min-width: 220px;}
        .form-container {gap: 1.25rem;}
        .content-container {align-items: center;}
        .sightings-heading {
            font-size: 40px;
            text-align: center;
            margin-top: 4rem;}
}

@media (max-width: 640px) {
        .label-container {font-size: 14px;}
        .input-field {min-width: 150px;}
        .form-container {gap: 0.75rem;}
        .sightings-heading {font-size: 12px;}
}

.sightings-section{
    display: flex;
    justify-content: center;
}
