*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #064172;
  font-family: "Open Sans", sans-serif;
}
table {
  background: #062844;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em auto;
  table-layout: fixed;
  width: 100%;
}
th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #064172;
}
