h1 {
    font-size: 40px;
    text-align: center;
}

tr, thead, tbody {
    display: flex;
    width: 100%;
    text-align: center;
    th {
        bottom-border: grey;
    }
}

.table-row {
    padding-bottom: 10px;
}

tbody {
    flex-direction: column;
}

th, td {
    flex: 1;
}

.sightings-results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sightings-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.waves {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
    transform: scaleY(1.1);
}

@media (min-width: 640px) {
    .label-container {
        font-size: 24px;
    }

    .input-field {
        min-width: 220px;
    }

    .form-container {
        gap: 1.25rem;
    }

    .content-container {
        align-items: center;
    }

    .sightings-table {
        display: flex;
        width: 100%;
        background-color: lightgray;
    }

    .sightings-section {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .label-container {
        font-size: 14px;
    }

    .input-field {
        min-width: 150px;
    }

    .form-container {
        gap: 0.75rem;
    }

    h1 {
        text-align: center;
        font-size: 21px;
    }

    .sightings-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sightings-results-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .waves > svg {
        height: 150px;
    }
}
