<!DOCTYPE html>
<html>
    <head lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="https://www.thymeleaf.org">
    <link th:href="@{/css/addSighting.css}" rel="stylesheet" />
    </head>
    <body>
        <div>
            This is some content
            dfgfdgfdg
            <form id="add-sighting">
                <label>
                    Date of Sighting
                </label>
                <input type="date"/>
                <label>
                    Latitude
                </label>
                <input type="latitude"/>
                <label>
                    Longitude
                </label>
                <input type="longitude"/>
            </form>
        </div>
    </body>
</html>