<!DOCTYPE html>
<html layout:decorate="layout">
    <head
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="https://www.thymeleaf.org">
        <link th:href="@{/css/addSighting.css}" rel="stylesheet" />
        <link th:href="@{/css/application.css}" rel="stylesheet" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 id="add-sighting-header">Add a whale sighting</h1>
            <p id="add-sighting-details">Please add the details of your sighting below.</p>
            <!-- <td th:text="${memberId}" th:field="*{memberId}"></td> -->
            <!-- <span th:field="{memberId}"></span> -->
            <span th:if="${memberId != null}">logged in</span>
            <span th:text="${memberId != null} ? ${memberId} : 'null value!'">someValue</span>
            <form id="add-sighting" action="#" method="POST" th:action="@{/add-whale-sighting}" th:object="${sighting}">
                
                <label for="date">
                    Date of Sighting
                </label>
                <input id="date" type="date" required th:field="*{date}"/>
                <label for="latitude">
                    Latitude
                </label>
                <input id="latitude" type="number" required placeholder="e.g. 38.8951" th:field="*{latitude}" step=".000001" />
                <label for="longitude">
                    Longitude
                </label>
                <input id="longitude" type="number" required placeholder="e.g. -77.0364" th:field="*{longitude}"  step=".000001" />
                <input class="button" type="submit" value="Add Sighting"/>
            </form>
        </div>
    </body>
</html>
