<!DOCTYPE HTML>
<html 
    layout:decorate="layout"
    xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Add Sighting Confirmation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/addSighting.css}" rel="stylesheet" />
        <link th:href="@{/css/application.css}" rel="stylesheet" />
    </head>
    <body>
        <div  layout:fragment="content">
            <h1 id="add-sighting-header">Thanks for your submission!</h1>
            <div id="add-sighting-details">
                <p class="submission-labels">Date of Sighting: </p>
                <p th:text="${sighting.date}" ></p>
                <p class="submission-labels">Latitude: </p>
                <p th:text="${sighting.latitude}" ></p>
                <p class="submission-labels">Longitude: </p>
                <p th:text="${sighting.longitude}" ></p>
                <a href="/add-whale-sighting">
                    <button class="button">Add another sighting</button>
                </a>
            </div>
        </div>
    </body>
</html>
