<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="layout">
    <head>
        <title>Admin</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="sightings-pending-container">

                <h1>Pending Sightings</h1>
                <p>Only members with the Admin role should be able to get here!</p>
                <div th:if="${param.error}">
                    There was an error loading the pending sightings.
                </div>

                <form  th:action="@{/admin}" method="post" th:object="${sight}">

                    <div class="sightings-pending-admin-form">

                        <div class="sight">
                            <span>latitute1</span>
                            <span>longitude1</span>
                            <span>Whales1</span>
                            <span>User1</span>
                        </div>

                        <div class="checkboxgroup">
                            <label for="radio-button-id2">Reject</label>
                            <input type="radio" name="radio1" value="reject" id="radio-button-id2" />
                        </div>
                        <div class="checkboxgroup">
                            <label for="radio-button-id1">Approve</label>
                            <input type="radio" name="radio1" value="approve" id="radio-button-id1" />
                        </div>

                    </div>

                    <div class="sightings-pending-admin-form">

                        <div class="sight">
                            <span>latitute2</span>
                            <span>longitude2</span>
                            <span>Whales2</span>
                            <span>User2</span>
                        </div>

                        <div class="checkboxgroup">
                            <label for="radio-button-id3">Reject</label>
                            <input type="radio" name="radio2" value="reject" id="radio-button-id3" />
                        </div>
                        <div class="checkboxgroup">
                            <label for="radio-button-id4">Approve</label>
                            <input type="radio" name="radio12" value="approve" id="radio-button-id4" />
                        </div>

                    </div>

                    <div class="flex-container-for-submit">
                        <div class="button-submit-sights" >
                            <input type="submit" value="Submit">
                        </div>
                    </div>

                </form>
            </div>

        </section>
    </body>
</html>
