<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/api.css}" rel="stylesheet" />
</head>
<body>
    <section layout:fragment="content" id="main-section">
        <iframe src="http://localhost:8080/swagger-ui/index.html" width="100%" height="100%"></iframe>

        <div id="endpoint-list-container">
            <div class="endpoint-list-element" id="view-quickstart-shortcut">
                Quickstart Guide
            </div>
            <!-- Placeholder for now until we pull this programmatically -->
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
            <div class="endpoint-list-element">
                GET: /home
            </div>
            <div class="endpoint-list-element">
                GET: /placeholder
            </div>
            <div class="endpoint-list-element">
                POST: /posttome
            </div>
            <div class="endpoint-list-element">  
                GET: /thesearentsorted
            </div>
        </div>

        <div id="quickstart-guide-container">
            <h1>WhaleSpotting API:</h1>
    
            <div id="quickstart-guide-description">
                This is the quickstart guide for the WhaleSpotting public API.
                This API primarily exposes endpoints aimed at scientists wishing to
                coduct data analysis on our whale database. It also allows for bulk
                upload and bulk download of data for analysis/archiving/intense whale spotting.
            </div>
        </div>
    </section>
</body>
</html>
