<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>API Documentation:</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum urna ut pretium aliquam. Pellentesque viverra dui vel efficitur tempor. Pellentesque auctor ipsum tortor, convallis aliquam quam pellentesque eu. Phasellus vel purus vitae mi pulvinar euismod. Duis gravida quis turpis eget fringilla. Quisque hendrerit blandit massa quis pharetra. Quisque pulvinar semper nunc, sagittis pellentesque neque sodales nec. Praesent consectetur ullamcorper ipsum vel consectetur. Quisque lacinia semper dictum. Praesent facilisis orci placerat, dignissim elit vitae, dictum magna. Etiam dapibus mauris a fermentum sagittis. Maecenas vitae consectetur erat. Fusce condimentum elit nec massa aliquet, eu finibus ex venenatis. Vivamus dictum mollis diam, sit amet tincidunt metus lobortis sit amet. Duis tincidunt felis eget eros malesuada placerat.

            Vestibulum sagittis sollicitudin ex non gravida. Aliquam et ante non sem consectetur porta. Pellentesque ullamcorper risus sed dapibus consequat. Sed sit amet arcu aliquam, maximus ipsum ac, condimentum quam. Donec lobortis massa erat, a ornare mi gravida a. Integer nunc ipsum, iaculis vulputate dapibus id, sodales ac arcu. Integer a sem sit amet nunc tincidunt ornare.

            Nullam euismod sit amet lacus eu pharetra. Ut mauris lectus, venenatis quis nibh quis, suscipit ullamcorper massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porttitor leo et nulla dapibus condimentum. Phasellus non auctor risus. Nunc aliquam scelerisque mauris ac consectetur. Aenean fermentum orci id tortor rhoncus, a sagittis felis egestas. Vivamus fermentum ipsum nulla, in scelerisque massa ultrices vitae. Quisque ante ante, porta a ligula eget, egestas condimentum sapien. Vivamus in sem vitae orci ullamcorper ultrices. Ut ultricies non metus et porta. Curabitur nec elit in lectus accumsan vulputate.

            Nulla lobortis mi et ex feugiat, id eleifend lectus congue. Duis semper justo eget libero pretium aliquam. Vivamus aliquet dui sed dapibus tempus. Nullam pretium pharetra diam, id consequat nisi ultrices ac. In ut justo imperdiet, consequat diam eget, mollis sapien. Sed nec quam vitae nulla egestas volutpat eu eget turpis. Proin sit amet dolor dui. Curabitur eu lectus dui. Pellentesque non gravida erat, ut tristique nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse pharetra nisl odio, vel congue nibh viverra lobortis. Sed commodo pulvinar massa a tempor. Proin ut libero nec nisl vulputate sodales id aliquam dolor.

            Phasellus elementum, magna sit amet porttitor imperdiet, mi sapien varius metus, vel accumsan magna felis et sapien. Nullam orci nisi, porta ut metus eu, cursus rutrum nibh. Morbi sollicitudin arcu nec tellus vulputate, a porta turpis rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In venenatis mollis augue, eu laoreet tortor vehicula eu. Sed interdum sodales enim, id finibus erat elementum nec. Praesent pretium mauris nec magna placerat rhoncus. Etiam laoreet ultrices volutpat. Nulla vulputate augue nec vulputate luctus. Donec faucibus vehicula eros convallis laoreet. In consequat purus bibendum dapibus tristique. </p>
    </section>
    </body>
</html>