<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <title>FAQ</title>
    <link th:href="@{/css/faq.css}" rel="stylesheet" />
</head>

<body>
    <section layout:fragment="content">

        <h1 class="faq-header">Frequently Asked Questions</h1>

        <main>
            <details>
                <summary>How to add a whale sighting?</summary>
                Simply log in into your account. If you don't have one you can register by
                clicking on register button. After you are logged in, click on add whale sighting which will take
                you to our whale sighting form after you complited al nessecary fields click submit button. After
                your sighting is approved by our administrator it will be added to our website.
            </details>

            <details>
                <summary>How to reset my password?</summary>
                Follow <a href="#">this link</a>
            </details>

            <details>
                <summary>How long does it usualy take for whale sighting to be approved?</summary>
                Ussualy we approve sightings within 24 hour, but sometimes it might take us
                up to 48 hours to approve a sighting.
            </details>
        </main>
    </section>
</body>

</html>