<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/css/application.css}" rel="stylesheet" />

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Whale Spotting</title>
</head>
<body class="page-container">
    <nav class="navbar-container">
        <a class="navbar-icon" href="#">Whale Spotting</a>

        <ul class="navbar">
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/}">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/members}">Members</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="javascript: document.logoutForm.submit()">Sign Out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit"/>
                </form>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/register}">Register</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/login}">Sign In</a>
            </li>
        </ul>
    </nav>

    <div class="content-container">
        <div layout:fragment="content"></div>
    </div>


    <footer id="footer">
        <div class="footer-container">
            <p>WhaleSpotting</p>
            <p><i class="fa fa-github"></i><a  href="https://github.com/charlottemothersole/WhaleSpotting-Java"> Github repository </a></p>
            <p>©Copyright 2023, BootCamp Project, Team Amex</p>
        </div>
    </footer>

</body>
</html>
