<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <title>Contact Form</title>
    <link th:href="@{/css/contact-form.css}" rel="stylesheet" />
</head>

    <body>
        
        <section layout:fragment="content">

            <h1 class="faq-header">Contact Us</h1>

            <main>
<p>Thank you for contacting us. We will get back to you shortly!</p>
            </main>

        <section>

    </body>

</html>
