<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/my_account.css}" rel="stylesheet" />
    <title>My Account</title>
</head>
<body>
        <div>
            <h1>My Account</h1>
        </div>
        <div>
            <div>
                <label for="email">Email  </label>
                <input id="email" type="email" readonly />
            </div>
            <div>
                <label for="password">Password  </label>
                <input id="password" type="password" readonly>
            </div>
        </div>
</body>
</html>