<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sightings</title>
    <link th:href="@{/css/sightings.css}" rel="stylesheet" />
</head>
<body class="page-container">
<section class="sightings-section" layout:fragment="content">
    <div class="sightings-heading">
        <h1>Sightings</h1>
    </div>
    <div class="sightings-results-section">
        <ul class="sightings-list">
            <li>
                <tr th:each="sighting: ${sightings}">
                    <td th:text="${sighting.date}" />
                    <td th:text="${sighting.latitude}" />
                    <td th:text="${sighting.longitude}" />
                </tr>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
