<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sightings</title>
    <link th:href="@{/css/api.css}" rel="stylesheet" />
</head>
<body class="page-container">
<section class="sightings-section" layout:fragment="content">
    <div class="sightings-heading">
        <h1>Sightings</h1>
    </div>
    <div>
        <h2>Results</h2>
        <ul class="sightings result">
            <li>
                <button type="button">
<!--                    <span class="badge">{{hero.id}}</span>-->
<!--                    <span class="name">{{hero.name}}</span>-->
                    <span>result column</span>
                    <span>result column</span>
                </button>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
